Repository AbdulDahir7002/C15-Star-Watch, pull requests merged in 2025-02, with the labels that each got.

#45 Aurora ETL script
  daily_etl_scripts/aurora_status.py
Labels: ETL

#51 Terraform for the lambdas of these pipelines
  daily_pipeline/daily_lambda.tf
  daily_pipeline/variables.tf
  hourly_pipeline/terraform/hourly_lambda.tf
  hourly_pipeline/terraform/variables.tf
Labels: ETL

#56 Aurora etl
  api_exploration/astronomy_api.py
  daily_etl_scripts/aurora_status.py
  daily_etl_scripts/test_aurora_status.py
Labels: ETL

#68 Renames folder and adds ECR terraform file
  ec2_terraform/ec2.tf
  ec2_terraform/variables.tf
  ecr_terraform/ecr.tf
Labels: terraform

#69 Add variables folder for terraform file
  ecr_terraform/variables.tf
Labels: terraform

#107 Adds logger function to main dashboard script
  dashboard/main.py
Labels: logging
